/* mais generalista */
body {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: azure;
}

/* estilizacao */
.calculadora {
    background-color: rgb(78, 97, 114);

    border-radius: 8px;

    padding: 20px 20px 40px 20px;
}

/* formatacao de cima */
.adicionar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* textos */
.letras {
    color: azure;
}

/* lugar de escrever */
input {
    box-sizing: border-box;

    width: 40%;
    height: 17%;

    border: none;
    border-radius: 8px;

    padding: 0 0.5rem;
}

/* caixa */
.caixa {
    width: 400px;
    height: 300px;

    background-color: azure;

    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 8px;

    overflow-y: scroll;
}

/* ultimo botao */
#bot_calcular, #bot_clicar {
    width: 20%;
    height: 15%;

    background-color:rgb(117, 117, 172);

    border: none;
    border-radius: 5px;
}

