/* mais generalista */
body {
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: azure;
}

/* estilizacao */
.calculadora {
    background-color: rgb(78, 97, 114);

    border-radius: 8px;

    padding: 20px 20px 20px 20px;
}

/* formatacao de cima */
.adicionar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* textos */
.letras {
    color: azure;
}

/* lugar de escrever */
input {
    box-sizing: border-box;

    background-color: azure;

    width: 40%;
    height: 17%;

    border: none;
    border-radius: 8px;

    padding: 0 0.5rem;

    transition: 0.5s;
}

/* estilizacao de passar por cima */
input:hover {
    transform: scale(1.05);
}

/* estilizacao de escrever */
input:focus{
    transform: scale(1.07);
    
    outline:none;
}

/* caixa */
.caixa {
    box-sizing: border-box;

    width: 400px;
    height: 300px;

    background-color: azure;

    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5rem 1rem;

    border-radius: 8px;

    overflow-y: scroll;
}

/* ultimo botao */
#bot_calcular, #bot_clicar {
    width: 20%;
    height: 15%;

    background-color:rgb(117, 117, 172);

    border: none;
    border-radius: 5px;

    transition: 0.3s;
}

/* estilizacao de passar por cima */
#bot_calcular:hover, #bot_clicar:hover {
    transform: scale(1.05);
}

/* estilizacao do clique */
#bot_calcular:active, #bot_clicar:active {
    transform: scale(0.95);
}

